.lista-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.lista-titulo {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.vitrine-lista {
  list-style-type: none;
  padding: 0;
}

.vitrine-item {
  margin-bottom: 10px;
}

.vitrine-link {
  padding: 10px;
  display: flex;
  text-decoration: none;
  color: rgb(63, 60, 60);
  font-size: 20px;
  transition: color 0.3s ease;
  gap: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.vitrine-link:hover {
  background-color: #5298e3;
}

.button-lista{
  width: 100%;
  padding: 10px;
  margin: 20px 0 10px;
  background-color: #00aaff;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-lista:hover {
  background-color: #b30000;
}